body {
    background-color: #1b1b1b;
    color: #D6F4ED;
    font-family: 'Cause';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.container-title h3 {
    margin: 25px;
    font-size: 3rem;
}

.container-game-state {
    display: block;
}


/* TABLERO */
.container-gameboard {
    display: flex;
    flex-direction: row;
    gap: 190px;
    align-items: center;
    justify-content: center;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#gameboard div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid wheat;
}

.container-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding-top: 50px;
}

.container-buttons button {
    color: #D6F4ED;
    font-family: 'Cause';
    padding: 20px;
    width: 170px;
    border: 1px solid #D6F4ED;
    background-color: #1b1b1b;
}

#player-one-status, #player-two-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}